#content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    display: inline;
    width:fit-content;
    padding: 0 15px;
    border-bottom: solid 1px #000000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-transform: capitalize;
    text-shadow: 2px 2px 3px #000000;
    color: rgb(83, 56, 17);
    font-weight: 100;
}

#content h2 {
    font-size: 20px;
    display: inline;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    text-transform: capitalize;
    text-shadow: 0 0 5px #00000050;
}

#content .separator {
    height: 2px;
    background-color: #00000000;
    margin: 10px 0;
    border-bottom: 2px solid #00000080;
}

.display {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 45px;
}

.display .item {
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.display .item p {
    font-family: 'Alex Brush', cursive;
    font-size: 20px;
    display: inline;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    text-transform: capitalize;
}

.display img {
    max-height: 200px;
    border: 2px solid #00000080;
    border-radius: 10px;
}

.info_text {
    font-family:'Times New Roman', Times, serif;
    font-size: 12px;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    text-transform: capitalize;
}