#map {
    background-color: aquamarine;
    width: 100%;
    height: 100em;
}

html, body {
    height: 100%;
    margin: 0;
  }

  .leaflet-container {
    background: #0a0a0a; /* nice dark fantasy vibe */
  }