#map {
    background-color: rgba(0, 0, 0, 0.521);
    width: 100%;
    height: 100vh;
}

body {
    height: 100vh;
    margin: 0;
  }

#map .leaflet-container {
    background: #0a0a0a; /* nice dark fantasy vibe */
  }

#map .leaflet-tooltip {
  background-color: #00000060;
  color: #ffffff;
  backdrop-filter: blur(3px);

}