#content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    width:fit-content;
    padding: 0 15px;
    border-bottom: solid 1px #000000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-transform: capitalize;
    color: rgb(107, 72, 24);
    font-weight: 100;
}

#content h2 {
    font-size: 20px;
    color: rgb(83, 56, 19);
    display: inline;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    text-transform: capitalize;
}

#content h3 {
    font-size: 15px;
    color: rgb(62, 40, 8);
    display: inline;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    text-transform: capitalize;
}

#content p {
    font-size: 15px;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    text-transform: capitalize;
}

hr {
    height: 2px;
    border-color: transparent;
    background-color: #00000000;
    margin: 10px 0;
    border-bottom: 3px solid #00000080;
}

.display {
    overflow: auto;
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 45px;
}

.display .item {
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.item p {
    margin-top: 10px;
    display: inline;
}

img {
    float: right;
    max-height: 200px;
    border: 2px solid #00000080;
    border-radius: 10px;
}

/*font-family: 'Alex Brush', cursive;*/

.callout .separator {
    height: 2px;
    margin: 0;
    border-bottom: 2px solid #00000080;
}

#info h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    width:fit-content;
    border: none;
    color: darkgreen;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

#info {
    border-left: 6px solid green;
    background-color: lightgreen;
    border-radius: 15px;
    padding: 5px;
}