#content h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    width:fit-content;
    padding: 0 15px;
    border-bottom: solid 1px #000000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-transform: capitalize;
    color: rgb(107, 72, 24);
    font-weight: 100;
}

#content h2 {
    font-size: 20px;
    color: rgb(83, 56, 19);
    display: inline;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    text-transform: capitalize;
}

#content h3 {
    font-size: 15px;
    color: rgb(62, 40, 8);
    display: inline;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    text-transform: capitalize;
}

#content a#h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
    width:fit-content;
    padding: 0 15px;
    border-bottom: solid 1px #000000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-transform: capitalize;
    color: rgb(107, 72, 24);
    font-weight: 100;
    font-weight: bold;
}

#content a#h2 {
    font-size: 20px;
    color: rgb(83, 56, 19);
    display: inline;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    text-transform: capitalize;
    font-weight: bold;
}

#content a#h3 {
    font-size: 15px;
    color: rgb(62, 40, 8);
    display: inline;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    margin-right: 5px;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
}

#content p {
    font-size: 15px;
    width:fit-content;
    margin: 0;
    margin-top: 5px;
    text-transform: capitalize;
}

hr {
    height: 2px;
    border-color: transparent;
    background-color: #00000000;
    margin: 10px 0;
    border-bottom: 3px solid #00000080;
}

.display {
    margin: 0;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 125px;
}

.display .item {
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0;
}

.item p {
    margin-top: 10px;
    display: inline;
}

img {
    display: inline-flex;
    flex-wrap: wrap;
    max-height: 300px;
    border: 2px solid #00000080;
    border-radius: 10px;
    cursor: zoom-in;
    margin: 0;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.modal-content {
  min-height: 70%;
  max-height: 90%;
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.3);
}

.carousel {
  position: relative;
  max-width: 600px;
  margin: 0;
  overflow: hidden;
  display: flex;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border: #00000080;
  transition: width 0.8s ease-in-out;
}

.carousel-track {
  display: flex;
  transition: transform 0.8s ease-in-out;
}

/*.carousel-track img {
  width: 250px;
  flex-shrink: 0;
}*/

button.prev, button.next {
  background: rgba(0, 0, 0, 0.175);
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.3em 0.6em;
  z-index: 1;
}
button:hover { background: rgba(0, 0, 0, 0.3); }

.callout .separator {
    height: 2px;
    margin: 0;
    border-bottom: 2px solid #00000080;
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    align-items: center;
    width: auto;
}

#info h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    width:fit-content;
    border: none;
    color: darkgreen;
    margin: 0;
    padding: 0;
    text-transform: capitalize;
}

#info {
    border-left: 6px solid green;
    background-color: lightgreen;
    border-radius: 15px;
    padding: 5px;
}
