main {
    min-height: 100vh;
    background-image: url(../../Images/paper.jpg);
    background-size: cover;
	transition: all 0.3s ease;
    display: grid;
    grid-template-columns: auto 1fr;
	margin: 0;
}

#sidebar {
  border-right: 1px solid #000000;
  padding: 0;
  transition: all 0.5s ease;
  background-image: url(../../Images/wood.jpg);
  background-size:cover;
  overflow: hidden;
}

#sidebar.collapsed {
  width: 35px;
  padding: 0;
  overflow: hidden;
}

#content {
  font-family:'Times New Roman', Times, serif;
  border-radius: 20px;
  border: 2px solid #00000075;
  padding: 10px;
  margin: 20px;
  background-color: #c9a97a;
  transition: all 0.5s ease;
  max-height: 90vh;
  overflow-y: auto;
  scrollbar-color: rgba(0, 0, 0, 0.532) transparent;
}

#toggle-sidebar {
  border-color: #e35f0000;
  border-style: solid;
  color: white;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #e35f0000;
}

aside {
  padding-left: 15px;
  margin-left: 15px;
  width: 250px;
  float: right;
  font-style: italic;
  margin: 0;
  white-space: nowrap;
  display: grid;
  grid-template-rows: auto 1fr;
}

.Nav_Header {
	display: grid;
	grid-template-columns: 35px 1fr;
	height: 35px;
	margin: 0;
	padding: 0;
}

.Nav_Header h2 {
	color: #fff;
	width: 100%;
	font-size: 20px;
	text-align: center;
	align-self: center;
	margin: 0;
	padding: 0;
    padding-top: 7px;
    height: 35px;
    border-left: #000000 solid;
    background-color: #000000b5;
}
ul {
    margin: 0;
}

.Nav_Body {
	margin-left: 35px;
    background-color: #00000095;
    border-left: #000000 solid;
    color: rgb(208, 181, 145);
    overflow-y: auto;
}

.Nav_Body a {
    color: rgb(246, 204, 148);
    text-decoration: none;
}

.collapsible-list {
  list-style: none; /* remove bullets */
  padding-left: 0;
}

.collapsible-list .nested {
  display: none;       /* hidden by default */
  padding-left: 20px;  /* indent sublist */
}

.collapsible-list .toggle {
  cursor: pointer;
  user-select: none;   /* prevents text selection */
}

.backLink {
  cursor: pointer;
}