#Algaar {
    border: #00000040 2px solid;
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-image: linear-gradient(45deg, #043100ad 0%, #086200a6 100%), url(../../Images/page_ui/paper.jpg);
}

#Algaar .nested {
  display: block;       /* hidden by default */
  padding-left: 20px;  /* indent sublist */
}

#Algaar .toggle {
  cursor: pointer;
  user-select: none;   /* prevents text selection */
  color: #37cd00;
}

#Krag {
    border: #00000040 2px solid;
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-image: linear-gradient(45deg, #043100ad 0%, #086200a6 100%), url(../../Images/page_ui/paper.jpg);
}

#Krag .nested {
  display: block;       /* hidden by default */
  padding-left: 20px;  /* indent sublist */
}

#Krag .toggle {
  cursor: pointer;
  user-select: none;   /* prevents text selection */
}

#Lyba {
    border: #00000040 2px solid;
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-image: linear-gradient(45deg, #30bdffad 0%, #0a00ffa6 100%), url(../../Images/page_ui/paper.jpg);
}

#Lyba .nested {
  display: block;       /* hidden by default */
  padding-left: 20px;  /* indent sublist */
}

#Lyba .toggle {
  cursor: pointer;
  user-select: none;   /* prevents text selection */
  color: #003c58;
}

#Sadosu {
    border: #00000040 2px solid;
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    
}

#Sadosu .nested {
  display: block;       /* hidden by default */
  padding-left: 20px;  /* indent sublist */
}

#Sadosu .toggle {
  cursor: pointer;
  user-select: none;   /* prevents text selection */
}

#Tohru {
    border: #00000040 2px solid;
    border-radius: 25px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-image: linear-gradient(45deg, #043100ad 0%, #086200a6 100%), url(../../Images/page_ui/paper.jpg);
}

#Tohru .nested {
  display: block;       /* hidden by default */
  padding-left: 20px;  /* indent sublist */
}

#Tohru .toggle {
  cursor: pointer;
  user-select: none;   /* prevents text selection */
}

#content .Day {
  padding: 10px;
  margin: 0;
}

#content .Day h1 {
  color: #5b0000bf;
  border: none;
  font-style: oblique;
  margin: 0;
  text-decoration: underline;
}
