body {
	padding: 0;
	margin: 0;
	background-image: url(../../Images/page_ui/paper.jpg);
    background-size: cover;
	max-height: 100vh;
}

header h1 {
	margin: 0;
	font-size: 35px;
	padding: 5px;
	padding-left: 15px;
}

#logo {
	display: block;
	float: left;
	margin: 0;
	margin-right: 20px;
	height: 45px;
	position: relative;
	border: transparent;
}

.header_block {
	color: rgb(228, 54, 54);
	border-bottom: 2px solid #000000;
	background-color: #000000;
}

.bg_glow {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0px;
    background: radial-gradient(100% 300px at calc(var(--x) * 1%) calc(var(--y) * 1%), var(--cl), transparent, transparent);
}